<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Interested in Lateral Transfer of Antimicrobial Resistance?
</h2>
                <hr class="light">
                <p class="text-faded">
                We are hiring postdocs, grad students and developers.
                </p>
                <a href="#jobs" class="btn btn-default btn-xl">Come Join Us!</a>
            </div>
        </div>
    </div>
</section>
