<section class="no-padding" id="people">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6">
                <a href="http://kiwi.cs.dal.ca/beikolabWordPress/" class="portfolio-box">
                    <img src="img/beiko.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Robert G. Beiko
                            </div>
                            <div class="project-name">
                                Dalhousie University
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="http://www.brinkman.mbb.sfu.ca/" class="portfolio-box">
                    <img src="img/brinkman.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Fiona Brinkmann
                            </div>
                            <div class="project-name">
                                Simon Fraser University
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="http://mcarthurbioinformatics.ca/" class="portfolio-box">
                    <img src="img/mcarthur.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Andrew G. McArthur
                            </div>
                            <div class="project-name">
                               McMaster University
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://maguire-lab.github.io" class="portfolio-box">
                <img src="img/fmaguire.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Finlay Maguire
                            </div>
                            <div class="project-name">
                                Dalhousie University / Shared Hospital Laboratory
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
